.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1.5rem;
    transition: .5s;
}

.acordeon:hover {
    background-color: #017ef2;
}

.acordeon .trigger {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
    
}

.acordeon .trigger:hover {
    cursor: pointer;
}

.acordeon .trigger::after {
    content: url('../images/white-arrow.png');
    background-repeat: no-repeat;
    transition: .5s;
}

.content {
    display: none;
    padding: 1rem;
}

.open {
    display: flex;
    border-radius: 1.5rem;
    background-color: #017ef2;
}

.open .trigger::after {
    content: url('../images/white-arrow.png');
    background-repeat: no-repeat;
    rotate: -180deg;
}

