* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p3/2400734-black-and-blue-material-design-background-overlap-layers-modern-web-wallpaper-widescreen-vector-illustration-vetor.jpg');
    /* background-size: contain; */
    background-repeat: no-repeat;
    color: #fff;
    width: 100%;
}

.main {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 2rem;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}


@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }
}